.container {
  margin: 2rem;
}

.books {
  margin: 0;
  padding: 0;
  gap: 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.book {
  margin: 1rem;
  display: block;
  position: relative;
  transition: transform 500ms;
}

.book.showcase {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.books .book:focus,
.books .book:hover {
  transform: scale(1.2);
  z-index: 1;
}

.book img {
  display: block;
  max-width: 100%;
}
